.nav-link{
    color: #ffffff !important;
    font-weight: 700;
}

div.fade.in.modal {
    display:flex !important;
}

.modal-dialog {
    margin: auto;
}

.flex-display {
    display: flex
}

.add-new-record-btn {
    margin-left: auto;
    margin-top: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9999; /* Make sure the overlay is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}